<% if flash[:import_report] %>
  <p><%= "#{flash[:import_report]["num_inserts"]} records imported" %></p>
  <p><%= "#{flash[:import_report]["failed_instances"].count} failures" %></p>
<% end %>

<main class="flex flex-col items-center">
  <h1 class="mb-8 material-font-headline material-text-headline-large">Records</h1>

  <%= render "shared/search", :@url => catalog_marc_records_path %>

  <%= render "shared/search", :@url => catalog_marc_records_path %>

  <ul class="mt-8">
    <%= render @records %>
    <%= render "shared/pagination" %>
  </ul>

  <div class="flex justify-end w-full mt-8">
    <%= render Material::FABComponent.new(catalog_marc_record_import_new_path, method: :get) do |fab| %>
      <%= fab.icon "upload" %>
    <% end %>
  </div>
</main>
