<div class="mt-4 ml-2">
  <%= form_tag catalog_search_path, id: :search, method: :get do %>
    <%= search_field_tag :query, nil, placeholder: "Eg. sherlock holmes"%>
    <%= submit_tag "Search" %>
  <% end %>

  <div class="mt-4">
    <% if params[:filter_by].present? %>
      <% params[:filter_by].each do |name, filter| %>
        <% if filter[:entries] %>
          <%= field_set_tag name.capitalize, class: "mx-0 pl-0 border-none font-bold" do %>
            <% filter[:entries].each do |entry| %>
              <div>
                <%= entry.values.join(" -- ") %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="flex">
    <div class="<%= "border-solid border-t border-0" if params[:filter_by].present? %>">
      <%= field_set_tag nil, form: :search, class: "border-none mt-2 mx-0 pl-0 pt-0" do %>
        <div class="flex">
          <legend>FILTER BY</legend>
          <input type="reset" form="search" class="ml-auto" data-controller="facet-component" data-action="click->facet-component#reset">
        </div>
        <%= render FacetsComponent.new aggregations: @response.aggregations %>
      <% end %>
    </div>

    <% if @response.results.present? %>
      <ul class="mt-12">
        <% @response.results.each do |record| %>
          <li><%= record.title %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
