<div class="mt-4 ml-2">
  <%= form_tag catalog_search_path, id: :search, method: :get do %>
    <%= search_field_tag :query, nil, placeholder: "Eg. sherlock holmes"%>
    <%= submit_tag "Search" %>
  <% end %>

  <div class="flex">
    <%= field_set_tag nil, form: :search, class: "border-none mt-2 mx-0 pl-0 pt-0" do %>
      <%= render FacetsComponent.new aggregations: @response.aggregations %>
    <% end %>

    <% if @response.results.present? %>
      <ul class="mt-12">
        <% @response.results.each do |record| %>
          <li><%= record.title %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
