<!DOCTYPE html>
<html>
  <head>
    <title>Karan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "material_view_components/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "material_view_components/application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css", "data-turbo-track": "reload" %>
  </head>

  <body class="p-12 material-font-body">
    <%= yield %>
  </body>
</html>
